In [ ]:
import pandas as pd

file_path= "D:/Data_Analysis/bankmarketing.csv"

df=pd.read_csv(
    file_path)

print(df.head)

<bound method NDFrame.head of        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]>

In [12]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [8]:


# Check for missing values and data types
df.isnull().sum().to_frame('Missing Values').join(df.dtypes.to_frame('Data Type'))

                Missing Values Data Type
age                          0     int64
job                          0    object
marital                      0    object
education                    0    object
default                      0    object
housing                      0    object
loan                         0    object
contact                      0    object
month                        0    object
day_of_week                  0    object
duration                     0     int64
campaign                     0     int64
pdays                        0     int64
previous                     0     int64
poutcome                     0    object
emp.var.rate                 0   float64
cons.price.idx               0   float64
cons.conf.idx                0   float64
euribor3m                    0   float64
nr.employed                  0   float64
y                            0    object

In [11]:

# Summary statistics

summary= df[['age','duration','campaign','pdays','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']].agg(['count','sum','mean','min','max','median','std','var'])

summary

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4.118800e+04,4.118800e+04,41188.000000,4.118800e+04,41188.000000,41188.000000,4.118800e+04,4.118800e+04,41188.000000,4.118800e+04
sum,1.648511e+06,1.063824e+07,105754.000000,3.964244e+07,7124.000000,3372.700000,3.854194e+06,-1.668221e+06,149153.726000,2.128199e+08
mean,4.002406e+01,2.582850e+02,2.567593,9.624755e+02,0.172963,0.081886,9.357566e+01,-4.050260e+01,3.621291,5.167036e+03
min,1.700000e+01,0.000000e+00,1.000000,0.000000e+00,0.000000,-3.400000,9.220100e+01,-5.080000e+01,0.634000,4.963600e+03
max,9.800000e+01,4.918000e+03,56.000000,9.990000e+02,7.000000,1.400000,9.476700e+01,-2.690000e+01,5.045000,5.228100e+03
median,3.800000e+01,1.800000e+02,2.000000,9.990000e+02,0.000000,1.100000,9.374900e+01,-4.180000e+01,4.857000,5.191000e+03
std,1.042125e+01,2.592792e+02,2.770014,1.869109e+02,0.494901,1.570960,5.788400e-01,4.628198e+00,1.734447,7.225153e+01
var,1.086025e+02,6.722573e+04,7.672975,3.493569e+04,0.244927,2.467915,3.350558e-01,2.142022e+01,3.008308,5.220283e+03

In [ ]:

import seaborn as sns
import matplotlib.pyplot as plt

# Plot the distribution of the target variable

ModuleNotFoundError: No module named 'seaborn'

In [ ]:

# Correlation matrix for numerical features


## Conclusion

In this analysis, we explored the structure and composition of the bank marketing dataset. Key takeaways include:

- The dataset includes customer demographics and contact details, which can be useful for segmentation.
- A majority of customers do not subscribe to term deposits, indicating an imbalanced dataset.
- Further preprocessing, feature engineering, and modeling would be the next steps for predictive analysis.

This initial inspection sets the foundation for a deeper analysis or machine learning workflow to improve marketing effectiveness.